body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

@media screen and (max-width: 599px) {
    .playground {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: calc(100vh - 240px);
    }
    .icon {
        width: 100px;
        height: 100px;
    }
    .icon path{
        fill: #BBB;
    }
    .playground h3 {
        color: #BBB;
        font-size: 26px;
        margin: 0;
        text-align: center;
        width: 80%;
    }
    .playground span {
        display: flex;
        gap: 8px;
        padding-top: 10px;
        
    }
    .playground span p {
        margin: 0;
        font-weight: 700;
    }
    .watchlistContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        margin-top: 20px;
        max-height: calc(100vh - 325px);
        overflow-y: auto;
        overflow-x: hidden;
    }

    .movie {
        display: flex;
        gap: 20px;
    }

    .movie-cover {
        width: 100px;
        height: 150px;
    }

    .movie-details {
        padding-top: 5px;
    }

    .movie-title {
        display: flex;
        margin: 0 0 5px 0;
        font-size: 12px;
        gap: 3px;
    }

    .movie-ratings {
        white-space: nowrap;
    }

    .movie-meta {
        display: flex;
        gap: 10px;
        margin-bottom: 5px;
        /* flex-wrap: wrap; */
        font-size: 10px;
        color: #666;
        align-items: center;
    }

    .runtime,
    .genre {
        margin: 0;
    }
    .watchlist-container {
        display: flex;
        gap: 10px;
        margin-bottom: 8px;
    }
    .watchlist-btn {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        border: none;
        background-color: transparent;
        font-size: 10px;
        margin: 0;
    }

    .watchlist-icon {
        width: 14px;
        height: 14px;
    }

    .movie-description {
        color: #6B7280;
        font-size: 12px;
        margin: 0;
    }

    hr {
        height: 1px;
        background-color: #d1d5db;
        border: none;
    }

}

@media screen and (min-width: 1024px) {}