@media screen and (max-width: 599px) {
    nav {
        width: 100vw;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
    }

    .app-logo {
        display: flex;
        justify-content: space-between;
        padding: 8px 10px 5px 10px;
        background-color: white;
        align-items: center;
        filter: drop-shadow(1px 0px 0.75px #8b8b8b);
    }

    .app-logo img {
        height: 40px;
        width: 40px;
    }

    .app-logo h1 {
        font-family: "Itim", cursive;
        margin: 0;
        font-size: 24px;
    }
    .nav-btn {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        padding-bottom: 20px;
        background-color: white;
        filter: drop-shadow(1px 0px 0.75px #8b8b8b);
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
    nav button {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        background-color: white;
        font-size: 10px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.4);
    }
    nav .icon {
        height: 32px;
        width: 32px;
    }
    nav .icon path {
        fill: #BBB;
    }
    nav button span {
        text-transform: uppercase;
    }
    .active {
        color: #5BB25F;
    }
    .active .icon path{
        fill: #5BB25F;
    }
}

@media screen and (min-width: 600px) { 

    nav {
        height: 100vh;
        width: 296px;
    }
    
    nav .icon {
        height: 32px;
        width: 32px;
    }

    nav .icon path {
        fill: #BBB;
    }

    .app-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-block: 60px 20px;
    }

    .app-logo img {
        height: 100px;
        width: 100px;
    }

    .app-logo h1 {
        font-family: "Itim", cursive;
        margin: 0;
        font-size: 40px;
    }

    .nav-btn {
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }

    nav button {
        border: none;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px 20px;
        background-color: white;
        gap: 8px;
        font-size: 24px;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.6);
        margin-block: 0.5px;
        cursor: pointer;
    }

    nav button:hover {
        color: #5BB25F;
    }
    nav button:hover .icon path {
        fill: #5BB25F;
    }
    
    .active {
        color: #5BB25F;
    }
    .active .icon path{
        fill: #5BB25F;
    }
}